@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the keyframes for the cursor animation */
@keyframes flicker {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  margin-bottom: 4px;
}

.alertButton:hover {
  background-color: initial;
  color: initial;
  text-decoration: initial;
}

.chatgpt_answer {
  background-color: hsl(219deg 73.31% 96.61%);
  color: hsl(0deg 0% 0%);
}

.speaker {
  background-color: hsl(219deg 49.99% 60.7%);
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: absolute;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 20px 0 #FFF2, -20px 0 #FFF;
  }

  50% {
    background-color: #FFF;
    box-shadow: 20px 0 #FFF2, -20px 0 #FFF2;
  }

  100% {
    background-color: #FFF2;
    box-shadow: 20px 0 #FFF, -20px 0 #FFF2;
  }
}

.spinning {
  width: 100px;
}


.btn-disabled,
.btn-disabled:hover,
.btn[disabled],
.btn[disabled]:hover {
  --tw-border-opacity: 0;
  background-color: hsl(0deg 0.17% 15.51% / 65%);
  --tw-bg-opacity: 0.2;
  color: hsl(0deg 0% 98.48% / 81%);
  --tw-text-opacity: 0.2;
}